<div class="header">
  <%# TODO: Company Logo %>
  <p class="subtitle">Soluciones de climatización confiables y eficientes para tu hogar, negocio u oficina</p>
</div>

<div class="carrousel">
  <%# TODO: Carrousel of images %>
</div>

<div class="somosNorte">
  <p>
    Fundada en 1968, nuestra empresa se dedica a la venta de insumos para la refrigeración y climatización en el Norte Argentino.</br>
    Nuestro compromiso con la calidad y la satisfacción del cliente nos ha permitido crecer y expandirnos a lo largo de los años. Hoy estamos presentes en San Miguel De Tucumán, Concepción, La Banda del Río Salí, Salta, Jujuy y Santiago del Estero.</br>
    Con más de cinco décadas de trayectoria en el mercado, nuestra empresa familiar continúa evolucionando y adaptandose a nuevos desafíos, para satisfacer las necesidades de nuestros clientes.</br>
  </p>
</div>

<div class="getInTouch">
  <p>- Ponete en contacto con nosotros ahora! -</p>
  <p>Escribinos al whatsapp para un asesoramiento personalizado</p>
  <%# TODO: Logo WhatsApp %>
</div>

<div class="testimonial">
  <%# TODO: Carrousel of testimonials %>
</div>

<div class="contact">
  <p>Casa Central - Santiago 1203, San Miguel de Tucumán -(0381) - 4311318</p>
  <p>Concepción - España 1012 - (03865) - 426333</p>
  <p>Banda del Río Salí - Av. Monseñor Jesús Diaz 375 - (0381) - 4262358</p>
  <p>Salta - Pellegrini 644 - (0387) - 4319578</p>
  <p>Jujuy - República de Siria 217 - (0388) - 4230546</p>
  <p>Santiago del Estero - Av. Moreno sur 187 - (0385) - 4225196</p>
  <p>ventasonline@refrigeracionnorte.com.ar</p>
  <%# TOOD: Social Media Icons %>
</div>

<div class="googleMap">
  <%# TODO: Google Map with Company locations %>
</div>

<div class="footer">
  <p>ventasonline@refrigeracionnorte.com.ar</p>
  <%# TODO: social media links %>
  <p>©2023 by Refrigeracion Norte S.R.L.</p>
</div>